*~
*#
*.orig
*.bak
lex.yy.c
lex.yy.cc
tokens.h
parser.c
parser.cpp
*.out
*.output
*.o
lexer
parser
graph
testTableAssert
testTableListClasses
*.config
*.includes
*.user
*.files
*.creator
*.dot
*.svg
settings.json
test
checkTypes
listActivations
buildIR
